<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <script src="https://use.fontawesome.com/32e775a780.js"></script>
    </head>
    <body>
    	<div>
    		HEADER - 
    		<a href='/'>Home</a> &nbsp;
    		<a href='/product'>Product</a>&nbsp;
    		<a href='/admin'>Admin Control</a>&nbsp;
    		
    		<a href='/checkout'>Checkout<i class="fas fa-shopping-basket"></i></a>&nbsp;
    		<a href='/account'>My Account</a>&nbsp;
    		<a href='/logout'>Logout</a>&nbsp;
    		
    	</div>
    	
        {% block body %}{% endblock %}
    </body>
</html>
